<div ngClass="table-container">
  <div *ngIf="!isMobile" class="flex-row">
    <div class="reload-cont">
      <button mat-button (click)="refresh()" class="reload approved">
        <!--  -->
        <mat-icon>autorenew</mat-icon>
      </button>
      <div class="search">
        <input
          (keyup)="applyFilter($event)"
          class="input"
          type="input"
          placeholder="Search"
        />
      </div>
    </div>
    <button mat-button class="create-button approved" routerLink="create-job">
      Create Job
    </button>
  </div>

  <table
    mat-table
    matSort
    matSortDisableClear
    (matSortChange)="sortData($event)"
    *ngIf="!isMobile"
    [dataSource]="dataSource"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="job_id">
      <th ngClass="decorate" mat-sort-header mat-header-cell *matHeaderCellDef>
        JOB ID
      </th>
      <td mat-cell *matCellDef="let element">{{ element.job_id }}</td>
    </ng-container>

    <ng-container matColumnDef="job_name">
      <th mat-header-cell *matHeaderCellDef>JOB NAME</th>
      <td mat-cell *matCellDef="let element">{{ element.job_name }}</td>
    </ng-container>

    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef>BRAND NAME</th>
      <td mat-cell *matCellDef="let element">{{ element.brand }}</td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>COUNTRY NAME</th>
      <td mat-cell *matCellDef="let element">{{ element.country }}</td>
    </ng-container>

    <ng-container matColumnDef="department_name">
      <th mat-header-cell *matHeaderCellDef>DEPARTMENT NAME</th>
      <td mat-cell *matCellDef="let element">{{ element.department_name }}</td>
    </ng-container>

    <ng-container matColumnDef="product_line">
      <th mat-header-cell *matHeaderCellDef>PRODUCT LINE</th>
      <td mat-cell *matCellDef="let element">{{ element.product_line }}</td>
    </ng-container>

    <ng-container matColumnDef="job_status">
      <th mat-header-cell *matHeaderCellDef>JOB STATUS</th>
      <td mat-cell *matCellDef="let element">
        <button
          [ngClass]="{
                    'approved':element.job_status.toUpperCase()==='APPROVED',
                    'draft':element.job_status.toUpperCase()==='DRAFT',
                    'inReview':element.job_status.toUpperCase()==='IN REVIEW',
                }"
          class="button-slanted"
        >
          {{ element.job_status.toUpperCase() }}
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="created_date">
      <th mat-header-cell *matHeaderCellDef>CREATED DATE</th>
      <td mat-cell *matCellDef="let element">
        {{ element.created_date | uTCToLocalPipe : "short" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>ACTIONS</th>
      <td mat-cell *matCellDef="let element">
        <button><img src="assets/images/edit.png" /></button>
        <button><img src="assets/images/preview.png" /></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row
      [ngStyle]="{ 'margin-bottom': '10px' }"
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>
  <mat-paginator
    #paginator
    *ngIf="!isMobile"
    (page)="onPageChange($event)"
    [length]="totalPageNumber"
    [pageSize]="3"
    showFirstLastButtons="true"
    [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page"
  >
  </mat-paginator>
  <mcu-mobile-jobs-list *ngIf="isMobile"></mcu-mobile-jobs-list>
</div>
