@import "src/scss/variables";

.table-container {
  width: 100%;
  max-height: 80%;
}

.mat-mdc-table {
  margin-top: 10px;
}
.reload-cont {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.mat-icon {
  color: white;
  position: bottom;
}
th {
  background-color: black !important;
  color: #8cc63f;
  border-bottom: 2px solid black;
  font-family: Teko;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.5px;
}
::ng-deep {
  mat-header-cell,
  mat-cell {
    justify-content: center !important;
  }
}

td {
  background-color: #303030 !important;
  color: white;
  border-bottom: 2px solid black;
  margin-top: 5px;
  font-family: $font-family;
  font-size: 17px;
  text-align: center;
  font-weight: lighter;
  letter-spacing: 1px;
}

img {
  width: 30px;
  height: 30px;
}

button {
  background-color: transparent;
  border-width: 0px;
}

.button-slanted {
  -ms-transform: skewX(-10deg);
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
  border-radius: 3px;
  width: 90%;
  font-family: $font-family;
  font-size: auto;
  color: white;
  font-weight: 600;
  height: 25px;
  // word-spacing: 2%;
  letter-spacing: 2px;
}
.create-button {
  border-radius: 4px;
  font-family: $font-family;
  font-size: 20px;
  color: white;
  font-weight: bold;
  word-spacing: 2%;
  margin-right: 30px;
  height: 35px;
  width: 123px;
  letter-spacing: 2px;
  -ms-transform: skewX(-10deg);
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
}

.reload {
  border-radius: 4px;
  font-family: Teko;
  font-size: 30px;
  color: white;
  font-weight: bold;
  word-spacing: 2%;
  height: 32px;
  width: 53px;
  letter-spacing: 2px;
  transform: skewX(-10deg);
  margin-right: 15px;
  // text-align: center;
  align-self: flex-end;
}

.search {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #303030;
  color: white;
}
.input {
  width: 150px;
  height: 30px;
  align-self: center;
  border: 0px;
  background-color: transparent;
  border-right: 0px;
  color: white;
  font-family: $font-family;
  font-weight: bold;
}
.input:focus {
  outline: none;
}
// .approved {
//   background: linear-gradient(270deg, #49c732 -4.72%, #248512 100.79%);
// }

.approved {
  background: linear-gradient(270deg, #bfec1d -4.72%, #22bb39 100.79%);
}
.draft {
  background: linear-gradient(270deg, #657ccd -4.72%, #093bef 100.79%);
}
.inReview {
  background: linear-gradient(270deg, #f99500 -4.72%, #e2ad5d 100.79%);
}

::ng-deep .custom-input .mat-input-element {
  background-color: transparent !important; /* Replace with your desired background color */
  color: #ffffff; /* Replace with your desired text color */
}

::ng-deep {
  .mat-mdc-paginator-page-size-label {
    font-size: 20px;
    letter-spacing: 2px;
  }
  .mat-mdc-icon-button svg {
    fill: rgb(255 255 255);
  }
  .mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon {
    fill: rgb(255 255 255 / 12%);
  }
  .mat-mdc-form-field {
    background-color: $background-color-paginator;
    border: 1px solid white;
    border-radius: 5px;
    span {
      color: white;
    }
    .mat-mdc-select-arrow svg {
      color: white;
    }
  }
  .mat-sort-header-arrow {
    color: $background !important;
    opacity: 1 !important;
  }

  .mat-mdc-paginator-range-label {
    margin: 0px !important;
    min-width: 150px !important;
  }

  .mat-mdc-paginator {
    color: white;
  }

  .mat-mdc-icon-button {
    --mat-mdc-button-persistent-ripple-color: white;
  }
}

::ng-deep .mat-mdc-paginator-outer-container {
  display: flex;
  background-color: #303030;
  border-top: 2px solid black;
  color: #ffffff;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

.mat-paginator .mat-paginator-range-label,
.mat-paginator .mat-paginator-page-size,
.mat-paginator .mat-paginator-page-size-label,
.mat-paginator .mat-paginator-navigation-button,
.mat-paginator .mat-paginator-navigation-button:hover,
.mat-paginator .mat-paginator-navigation-button:active,
.mat-paginator .mat-paginator-navigation-button-disabled {
  color: white;
}

@media screen and (((min-width: 600px) and (max-width: 839.98px) and (orientation: portrait)) or
((min-width: 960px) and (max-width: 1279.98px) and (orientation: landscape))) {
  table {
    // width: 190px;
    // transform: scaleX(0.8);
    // transform: scalex(0.85);
    // transform-origin: left;
    width: auto;
  }
  .create-button {
    font-size: 15px;
    height: 30px;
    width: 100px;
  }
  .reload {
    //   border-radius: 4px;
    //   font-family: $font-family;
    //   font-size: 30px;
    //   color: white;
    //   font-weight: bold;
    //   word-spacing: 2%;
    height: 30px;
    width: 40px;
    //   letter-spacing: 2px;
    //   -ms-transform: skewX(-10deg);
    //   -webkit-transform: skewX(-10deg);
    //   transform: skewX(-10deg);
    //   margin: 0px 15px 10px 0px;
    //   align-self: flex-end;
  }

  // .input {
  //   width: 150px;
  //   height: 30px;
  //   align-self: center;
  //   border-radius: 6px;
  //   background-color: #303030;
  //   border-right: 0px;
  //   border-bottom: 2px solid white;
  //   color: white;
  // }

  .flex-row {
    margin-bottom: 15px;
  }

  .table-container {
    width: 100%;
    max-height: 60%;
  }
  th,
  td {
    padding: auto;
    font-size: small;
  }
}

input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: white;
}
