<div class="reload-container">
    <div class="menu-name-container">
        <p ngClass="menu-name">
            {{menuName}}
        </p>
    </div>
    <div class="search-reload">
        <button (click)="toggleSearch()" class="reload-button">
            <img class="reload-image" src=" assets/images/save.png" />
        </button>
        <input #value *ngIf="showSearchBar" mat-Input class="input" placeholder="Search"
            (keyDown.enter)="search($event)" type="text">
        <button (click)="sortTheData()" class="reload-button">
            <img class="reload-image" src="assets/images/refresh.png" />
        </button>
    </div>
</div>
<div infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()">
    <ng-container *ngFor="let job of jobList">
        <mcu-card-view [job]="job"></mcu-card-view>
    </ng-container>
</div>