@import "src/scss/variables";
.reload-container {
  display: flex;
  justify-content: space-between;
}
.reload-button {
  background-color: transparent;
  border-width: 0px;
}
.reload-image {
  height: 35px;
  width: 35px;
}

.menu-name-container {
  display: inline;
  justify-content: center;
  flex-direction: column;
}

.search-reload {
  display: flex;
  flex-direction: row;
}
hr {
  width: 89px;
  height: 4px;
  left: 248px;
  margin-top: 0px;
  background: linear-gradient(270deg, #bfec1d -4.72%, #22bb39 100.79%);
  top: 0;
}
.menu-name {
  font-size: 25px;
  font-family: $font-family;
  color: white;
  letter-spacing: 2px;
  text-decoration: underline white;
  margin-bottom: 0px;
}
.input {
  min-width: 50%;
  height: 30px;
  align-self: center;
  background-color: transparent;
  border: 0px;
  border-bottom: 2px solid white;
  color: white;
}

.input:focus {
  outline: none;
}
// .infinite-scroll {
//   height: 1000px;
// }

.infinite-scroll {
  min-height: 800px;
  overflow: auto;
}
