<div class="reload-container">
    <div class="menu-name-container">
        <p ngClass="menu-name">
            {{menuName}}
        </p>
    </div>
    <div class="search-reload">
        <button (click)="toggleSearch()" class="reload-button">
            <img class="reload-image" src=" assets/images/save.png" />
        </button>
        <input #value *ngIf="showSearchBar" mat-Input class="input" placeholder="Search" [(ngModel)]="searchText"
            type="text">
        <button (click)="sortTheData()" class="reload-button">
            <img class="reload-image" src="assets/images/refresh.png" />
        </button>
    </div>
</div>
<div class="infinite-scroll" [infiniteScrollDistance]="0.5" infiniteScroll (scrolled)="onScroll($event)">
    <div *ngFor="let job of jobList | filterByText:searchText">
        <mcu-card-view class="card-container" [job]="job"></mcu-card-view>
    </div>
</div>