.nav-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo {
  height: 50px;
  margin-left: 5px;
}
.nav-item {
  display: flex;
  align-items: center;
}

#sidenav.menu-close {
  width: 5%;
}
#sidenav.menu-open {
  width: 10%;
}

.mat-sidenav-container {
  height: 100vh;
}

.route-content {
  margin: 20px;
}

.side-nav-images {
  height: 100%;
  width: 80%;
}
