<mat-toolbar *ngIf="!isMobile" color="primary">
  <div ngClass="nav-contents">
    <div ngClass="nav-item">
      <button *ngIf="!isMenuOpen" class="menu-button" (click)="onToolbarMenuToggle()">
        <img class="menu-image" src="assets/images/hamburger.png" />
      </button>
      <button *ngIf="isMenuOpen" class="menu-button" (click)="onToolbarMenuToggle()">
        <img class="menu-image" src="assets/images/close.png" />
      </button>
      <img class="logo" src="assets/images/monster-logo.png" />
    </div>
    <div ngClass="nav-item">
      <button mat-button>
        <i class="fa-solid fa-bell fa-2x" style="color: #8cc63f"></i>
      </button>
      <button mat-button>
        <i class="fa-solid fa-user fa-2x" style="color: #8cc63f"></i>
      </button>
      <button mat-button>
        <p class="login-name">Susan Wright</p>
      </button>
    </div>
  </div>
</mat-toolbar>


<mat-toolbar *ngIf="isMobile" color="primary">
  <div ngClass="nav-contents">
    <div class="mb-nav-item">
      <button class="menu-button" *ngIf="!isMenuOpen" (click)="onMobileToolBarToggle()">
        <img class="mb-menu-image" src="assets/images/hamburger.png" />
      </button>
      <button class="menu-button" *ngIf="isMenuOpen" (click)="onMobileToolBarToggle()">
        <img class="mb-menu-image" src="assets/images/close.png" />
      </button>
      <button class="menu-button">
        <img class="mb-logo" src="assets/images/monster-small.png" />
      </button>
      <button class="menu-button">
        <img class="mb-menu-image" src=" assets/images/add.png" />
      </button>
    </div>
    <div ngClass="mb-nav-item-2">
      <button class="menu-button">
        <img class="mb-menu-image" src=" assets/images/save.png" />
      </button>
      <button class="menu-button">
        <img class="mb-menu-image" src=" assets/images/bell.png" />
      </button>
      <button class="menu-button">
        <img class="mb-menu-image" src=" assets/images/login.png" />
      </button>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container color="primary">

  <mat-sidenav *ngIf="!isMobile" #sidenav id="sidenav" mode="side" [class.menu-open]=" isMenuOpen"
    [class.menu-close]="!isMenuOpen" opened>
    <mat-list *ngIf="!isMenuOpen" role="list">

      <mat-list-item class="listitem" role="listitem">
        <button routerLink="my-jobs" class="menu-button" routerLink="my-jobs" class="menu-button" matBadge="3"
          matBadgeOverlap="true" matbadgeSize="small" matBadgeColor="accent" matBadgePosition="above">
          <img class="menu-image" src="assets/images/myjobgs.png">
        </button>
      </mat-list-item>

      <img class="underline" *ngIf="checkMenu('my-jobs')" src="assets/images/underline-sm.png" />

      <mat-list-item role="listitem">
        <button routerLink="all-jobs" class="menu-button">
          <img class="menu-image" src="assets/images/alljobs.png" />
        </button>
      </mat-list-item>

      <img *ngIf="checkMenu('all-jobs')" src="assets/images/underline-sm.png" />

      <mat-list-item role="listitem">
        <button routerLink="my-workflows" class="menu-button">
          <img class="menu-image" src="assets/images/myworkflows.png" />
        </button>
      </mat-list-item>

      <img *ngIf="checkMenu('my-workflows')" src="assets/images/underline-sm.png" />

      <mat-list-item role="listitem">
        <button routerLink="my-tasks" class="menu-button">
          <img class="menu-image" src="assets/images/mytasks.png" />
        </button>
      </mat-list-item>

      <img *ngIf="checkMenu('my-tasks')" src="assets/images/underline-sm.png" />
    </mat-list>
    <mat-list role="list" *ngIf="isMenuOpen">
      <mat-list-item role="listitem">
        <button routerLink="my-jobs" class="menu-button-expanded">
          <img class="menu-image" src="assets/images/myjobs-2.png" />
          <p class="menu-text">My Jobs</p>
        </button>
      </mat-list-item>
      <img class="underline" *ngIf="checkMenu('my-jobs')" src="assets/images/underline-lg.png" />

      <mat-list-item>
        <button routerLink="all-jobs" class="menu-button-expanded">
          <img class="menu-image" src="assets/images/alljobs-2.png" />
          <p class="menu-text">All Jobs</p>
        </button>
      </mat-list-item>
      <img *ngIf="checkMenu('all-jobs')" src="assets/images/underline-lg.png" />

      <mat-list-item>
        <button routerLink="my-workflows" class="menu-button-expanded">
          <img class="menu-image" src="assets/images/myworkflows-2.png" />
          <p class="menu-text">My WorkFlows</p>
        </button>
      </mat-list-item>
      <img *ngIf="checkMenu('my-workflows')" src="assets/images/underline-lg.png" />

      <mat-list *ngIf="menu === 'my-workflows' || 'content-manager' || 'assets-team'">
        <mat-list-item>
          <button routerLink="content-manager" class="menu-button-expanded">
            <p class="menu-text">Conent Manager</p>
          </button>
        </mat-list-item>
        <img *ngIf="menu === 'content-manager'" src="assets/images/underline-lg.png" />

        <mat-list-item>
          <button routerLink="assets-team" class="menu-button-expanded">
            <p class="menu-text">Media Assets Team</p>
          </button>
        </mat-list-item>
        <img *ngIf="menu === 'assets-team'" src="assets/images/underline-lg.png" />
      </mat-list>

      <mat-list-item>
        <button routerLink="my-tasks" class="menu-button-expanded">
          <img class="menu-image" src="assets/images/mytasks-2.png" />
          <p class="menu-text">My Tasks</p>
        </button>
      </mat-list-item>

      <img *ngIf="checkMenu('my-tasks')" src="assets/images/underline-lg.png" />
    </mat-list>
  </mat-sidenav>

  <mat-sidenav *ngIf="isMobile" mode="side" #mobileSideNav>
    <mat-list>
      <mat-list-item>
        <mat-list-item matBadge="2"></mat-list-item>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content [ngStyle]="{ 'margin-left': contentMargin + '%' }">
    <div ngClass="route-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>