@import "src/scss/variables";
.nav-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo {
  height: 50px;
  margin-left: 5px;
}
.nav-item {
  display: flex;
  align-items: center;
}

.mdc-list-item__content {
  height: 150px;
  margin: 15px 0px 15px 0px;
}

#sidenav.menu-close {
  width: 4%;
}
#sidenav.menu-open {
  width: 10%;
}

.mat-sidenav-container {
  height: 100vh;
}

.route-content {
  margin: 20px;
}

.side-nav-images {
  height: 100%;
  width: 80%;
}

mat-icon {
  transform: scale(1.5);
}
.mat-badge-content {
  color: black;
}

.menu-name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

mat-sidenav {
  background-color: #171717;
  height: 100vh;
  overflow: hidden;
}

.menu-button {
  background-color: transparent;
  border-width: 0px;
  padding: 0px;
  top: 10px;
  height: 100%;
  border-width: 2px solid grey;
}

.bell-icon {
  color: #8cc63f;
  transform: scale(0.9);
}

.notification-button {
  background-color: transparent;
  border-width: 0px;
  padding: 0px;
}

.listitem {
  height: 40%;
}

.menu-button-expanded {
  background-color: transparent;
  border-width: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-family: $font-family;
}
.menu-image {
  width: 25px;
  height: 30px;
}

.tool-bar-image {
  transform: scale(0.8);
  margin-left: 5px;
}
.tool-bar-image-2 {
  transform: scale(0.8);
}
.menu-text {
  font-family: $font-family;
  margin-left: 2px;
  font-size: 20px;
  font-weight: 500;
}

.underline {
  width: 80%;
  align-self: center;
  justify-self: center;
  margin-top: 5px;
}

.login-name {
  color: $text-color;
  font-size: 20px;
  font-family: $font-family;
}

.list-item {
  height: 50px;
  width: 30px;
}

.mdc-list-item--with-one-line {
  padding: 0px 0px 0px 16px;
}

.menu-name {
  font-size: 30px;
  font-family: $font-family;
  color: white;
  letter-spacing: 2px;
  text-decoration: underline white;
  margin: 0px 0px 10px 0px;
  padding: 2px;
}

.menu-items-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  border-color: #22bb39 2px;
}

.menu-container-mini {
  height: 50px;
  padding-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.menu-container-small {
  height: 50px;
  padding-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.menu-container {
  height: 70px;
  padding-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
/* Vector 1 */
.selected-menu {
  width: 36px;
  height: 6px;
  left: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: linear-gradient(
    270deg,
    #bfec1d -4.72%,
    #51ca31 68.99%,
    #22bb39 100.79%
  );
}

.selected-menu-expanded {
  width: 130px;
  height: 6px;
  left: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: linear-gradient(
    270deg,
    #bfec1d -4.72%,
    #51ca31 68.99%,
    #22bb39 100.79%
  );
  .mb-selected-menu-expanded {
    width: 70px;
    height: 6px;
    left: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: linear-gradient(
      270deg,
      #bfec1d -4.72%,
      #51ca31 68.99%,
      #22bb39 100.79%
    );
  }
}

.unselected-menu {
  width: 36px;
  height: 6px;
  left: 12px;
  background: transparent;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*mobile-view  css*/
@media screen and (max-width: 599.98px) {
  .mb-nav-item {
    display: flex;
    justify-content: flex-end;
  }

  .mb-nav-item-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .mb-menu-image {
    width: 25px;
    height: 30px;
  }
  .mb-menu-image-left {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    top: 2px;
  }

  .menu-button-1 {
    background-color: transparent;
    border-width: 0px;
    padding: 0px;
    top: 10px;
    height: 100%;
  }

  .menu-button {
    background-color: transparent;
    border-width: 0px;
    padding: 0px;
    // top: 15px;
    height: 100%;
    margin-top: 15px;
    margin-left: 9px;
  }

  .mb-menu-image-left-1 {
    transform: scale(0.8);
  }

  .mb-notification-button {
    background-color: transparent;
    height: 15px;
    border-width: 0px;
    padding: 0px;
  }
  .mb-logo {
    height: 30px;
  }
}

@media screen and (((min-width: 600px) and (max-width: 839.98px) )) {
  ::ng-deep {
    .mat-sidenav-container {
      height: 94.6% !important;
    }
    #sidenav.menu-open {
      width: 15% !important;
    }
    #sidenav.menu-close {
      width: 7% !important;
    }
    .route-content {
      margin: 0 0 0 60px !important;
    }
    mat-sidenav-content {
      margin-left: 0px !important;
    }
  }
  .menu-button {
    background-color: transparent;
    border-width: 0px;
    transform: scale(0.8);
  }

  .mdc-list-item--with-one-line {
    padding: 0px 0px 0px 6px;
  }

  .underline {
    width: 80%;
    align-self: center;
    justify-self: center;
    // margin-top: 5px;
    margin-left: 3px;
  }

  .menu-text {
    font-size: 15px;
  }
}

.create-button {
  border-radius: 4px;
  font-family: $font-family;
  font-size: 20px;
  color: white;
  font-weight: bold;
  word-spacing: 2%;
  margin-right: 30px;
  height: 35px;
  width: 123px;
  letter-spacing: 2px;
  -ms-transform: skewX(-10deg);
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
}
.approved {
  background: linear-gradient(270deg, #bfec1d -4.72%, #22bb39 100.79%);
}

// @media screen and ((max-width: 599.98px)) {
//   .menu-button {
//     background-color: transparent;
//     border-width: 0px;
//     transform: scale(0.5);
//   }

//   .mdc-list-item--with-one-line {
//     padding: 0px 0px 0px 6px;
//   }

//   .underline {
//     width: 80%;
//     align-self: center;
//     justify-self: center;
//     // margin-top: 5px;
//     margin-left: 3px;
//   }

//   .menu-text {
//     font-size: 15px;
//   }
// }
