@import "src/scss/variables";
.nav-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo {
  height: 50px;
  margin-left: 5px;
}
.nav-item {
  display: flex;
  align-items: center;
}

#sidenav.menu-close {
  width: 5%;
}
#sidenav.menu-open {
  width: 15%;
}

.mat-sidenav-container {
  height: 100vh;
}

.route-content {
  margin: 20px;
}

.side-nav-images {
  height: 100%;
  width: 80%;
}

mat-sidenav {
  background-color: black;
  height: 100vh;
  overflow: hidden;
}

.menu-button {
  background-color: transparent;
  border-width: 0px;
}

.menu-button-expanded {
  background-color: transparent;
  border-width: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-family: $font-family;
}
.menu-image {
  width: 25px;
  height: 30px;
}

.menu-text {
  font-family: $font-family;
  margin-left: 2px;
  font-size: 25px;
  font-weight: 500;
}
:ng-deep {
  .mdc-list-item {
    display: flex;
    flex-direction: column;
  }
}

.underline {
  width: 80%;
  align-self: center;
  justify-self: center;
  margin-top: 0px;
}

.login-name {
  color: $text-color;
  font-size: 30px;
  font-family: $font-family;
}

.list-item {
  height: 50px;
  width: 30px;
}
