.acron-file-upload-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}


.qds-thumbnail-note {
    font-size: small;
    color: #f44336;
}


.existing-file-holder {
    margin-right: -4px;
}


.acron-file-upload-action,
.acron-file-upload-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
   
}


.actions-align {
    width: 100%;
    align-items: baseline;
}


.acron-file-upload-wrapper {
    padding: 0em 0em 2em 0em;
    margin: 0 0 0px 0px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: auto;
    border: 2px dashed;


    p {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.file-items-holder {
    width: 100%;
    height: 100%;
}


.mat-preview-size {
    font-size: 40px;
    padding-right: 15px;
}


.file-icon img {
    height: 40px;
    width: 40px;
}


.card-file-contents,
.file-details,
.file-actions {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}


.file-details,
.file-actions {
    flex-grow: 1;
}


.file-details {
    margin: 0 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;


    &.name {
        width: 25em;
    }


    &.size {
        width: 5em;
    }


    &.type {
        width: 10em;
    }
}






.file-details.name {
    width: 25em;
}
.file-details.size {
    width: 5em;
}
.file-details.type {
    width: 10em;
}






.file-actions .action,
.acron-file-upload-action .actions-holder {
    margin-left: auto;
}


/* .acron-file-upload-action .actions-holder .actions {
    margin: 10px;
} */


.card-file-contents {
    align-items: center;
}


.acron-file-upload-action .actions-holder .actions {
    /* margin-right: 10px; */
    margin-bottom: 10px;
    margin-top: 10px;
}


.acron-file-upload-action .actions-holder .actionbuttons {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.chips
{
    display: inline-block;
    float: right;
}
.file-text {
    /* margin-left: 3px; */
    margin-left: 0.3px;
    margin-bottom: 0;
}


.margin-l-4 {
    margin-left: 4px;
    margin-bottom: 0;
}






::ng-deep div.mat-chip-list-wrapper{
    margin-top: 1px;
    background-color: red($color: #000000);
}


mat-chip{
    margin-bottom: 0px !important;
}


/* .mat-h4{
    margin-bottom: 0;
}
 */


.mat-h4, .mat-subheading-1, .mat-typography h4 {
    margin-bottom: 0;
}


.mat-card{
    padding-top: 10px !important;
}
