<div class="upload-container">
    <p class="title" *ngIf="!data.isRevisionUpload">Upload</p>
    <div class="sf-modal-title margin-b-4" *ngIf="data.isRevisionUpload">Revision Upload</div><mat-dialog-content>
        <mcu-file-upload (queuedFiles)="udploadFileEvent($event)" [isRevisionUpload]="data.isRevisionUpload"
            [fileToRevision]="data.fileToRevision" [maxFiles]="data.maxFiles" [maxFileSize]="data.maxFileSize" [fileContent]="data.fileContent">
        </mcu-file-upload>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button class="close-button"   (click)="closeDialog()">
            Close
        </button>
        <button class="finish-button"  (click)="uploadFiles()" >
            Finish
        </button>
    </mat-dialog-actions>
</div>
