<div class="main-container">
  <div class="header">
    <h1>PREVIEW</h1>
    <span class="spacer"></span>
    <button class="close-button" (click)="closeDialog()">
      <mat-icon> close </mat-icon>
    </button>
  </div>
  <div class="bucket-name">
    <h3>{{ bucketName }}</h3>
    <button class="submit-button" (click)="uploadMore()">
      <mat-icon> cloud_upload </mat-icon>
    </button>
  </div>
  <div class="card">
    <p-galleria [value]="combinedList" [numVisible]="10">
      <ng-template pTemplate="item" let-item>
        <mat-card class="image-card"
          ><img [src]="item.imageUrl" style="width: 500px; height: 532px"
        /></mat-card>
        <button
          class="submit-button"
          (click)="download(item.downloadUrl, item.assetName)"
        >
          <mat-icon> cloud_download </mat-icon>
        </button>
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div
          class="grid grid-nogutter justify-content-center"
          style="width: 50px; height: 40px"
        >
          <img [src]="item.imageUrl" style="width: 50px; height: 40px" />
        </div>
      </ng-template>
    </p-galleria>
  </div>
</div>
