@import "src/scss/variables";
.main-container {
  .header {
    display: flex;
    .spacer {
      flex: 1;
    }
    .close-button {
      background-color: transparent;
      border: none;
      margin: 0 20px 30px 0;
      mat-icon {
        color: white;
      }
    }
  }
  .header h1 {
    color: white;
    margin-left: 2em;
    margin-top: 1px;
  }
  .bucket-name h3 {
    color: $text-color;
    margin-left: 4em;
    margin-top: -20px;
  }
  .card {
    margin-top: -15px;
  }
}
::ng-deep {
  .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: $background-color;
  }
  .p-galleria .p-galleria-thumbnail-container {
    background: $background-color;
    padding: 2rem 6rem 0;
  }
  .p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-prev,
  .p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-next {
    color: $text-color;
    font-size: 1.5rem;
  }
}
