<div class="content-upload-form">
  <div class="header">
    <h1>CONTENT DETAILS</h1>
  </div>
  <form [formGroup]="jobDetails" (ngSubmit)="submitForm()" class="form">
    <div class="grid-container">
      <div class="grid-child-left">
        <mat-form-field>
          <mat-label>Brand</mat-label>
          <input matInput type="input" formControlName="brand" [matAutocomplete]="auto" required />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredBrands | async" [value]="option.name"
              (onSelectionChange)="updateSelectedBrand($event)">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="jobDetails?.get('brand')?.invalid && jobDetails?.get('brand')?.touched
            ">
            Please enter a valid Brand.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Product Line</mat-label>
          <input matInput type="input" formControlName="productLine" [matAutocomplete]="productLineAuto" required />
          <mat-autocomplete #productLineAuto="matAutocomplete">
            <mat-option *ngFor="let option of filteredProductLine | async" [value]="option.name">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="
              jobDetails?.get('productLine')?.invalid &&
              jobDetails?.get('productLine')?.touched
            ">
            Please select the ProductLine.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Country</mat-label>
          <input matInput type="input" formControlName="country" [matAutocomplete]="country" required />
          <mat-autocomplete #country="matAutocomplete">
            <mat-option *ngFor="let option of filterCountries | async" [value]="option.name">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="
              jobDetails?.get('country')?.invalid && jobDetails?.get('country')?.touched
            ">
            Please enter Country.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Album Name</mat-label>
          <input matInput type="input" formControlName="albumName" required />
          <mat-error *ngIf="
              jobDetails?.get('albumName')?.invalid ||
              jobDetails?.get('albumName')?.untouched
            ">
            Please enter Album Name
          </mat-error>
        </mat-form-field>
      </div>

      <div class="grid-child-right">
        <mat-label>Department</mat-label>
        <mat-radio-group required formControlName="department">
          <mat-radio-button type="radio" [value]="'1'">Creative</mat-radio-button>
          <mat-radio-button type="radio" [value]="'2'">Sales</mat-radio-button>
          <mat-radio-button type="radio" [value]="'3'">Marketing</mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="jobDetails?.get('department')?.invalid && jobDetails?.get('department')?.touched">
          Please enter Departmentthe details.
        </mat-error>
        <div class="action-buttons">
          <button mat-raised-button color="accent">Next</button>
          <button mat-raised-button color="accent" type="submit" [disabled]="jobDetails.invalid">
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>