<div mat-card ngClass="card-container">
    <div ngClass="Job">
        <div>
            <label>JObID</label>
            <p>{{job.job_id}}</p>
        </div>
        <div>
            <label>JOB NAME</label>
            <p>{{job.job_name}}</p>
        </div>
        <div>
            <label>BRAND</label>
            <p>{{job.brand}}</p>
        </div>
        <div>
            <label>DEPARTMENT</label>
            <p>{{job.department_name}}</p>
        </div>

    </div>
    <div ngClass="status-container">
        <div>
            <label>COUNTRY</label>
            <p>{{job.country}}</p>
        </div>
        <div>
            <label>CREATED DATE</label>
            <p>{{job.created_date|date:'shortDate'}}</p>
        </div>
        <div>
            <label>JOB STATUS</label>
            <p [ngClass]="{
                'approved':job.job_status ==='APPROVED',
                'draft':job.job_status ==='DRAFT',
                'inReview':job.job_status ==='INREVIEW',
            }" class="status">{{job.job_status}}</p>
        </div>
    </div>
    <div ngClass="actions">
        <button class="reload-button">
            <img class="reload-image" src="assets/images/preview.png" />
        </button>
        <button class="reload-button">
            <img class="reload-image" src="assets/images/edit.png" />
        </button>
    </div>
</div>