<div mat-card ngClass="card-container">
    <div ngClass="Job">
        <div>
            <label>JObID</label>
            <p>{{job.ID}}</p>
        </div>
        <div>
            <label>JOB NAME</label>
            <p>{{job.JOB_NAME}}</p>
        </div>
        <div>
            <label>BRAND</label>
            <p>{{job.BRAND_NAME}}</p>
        </div>
        <div>
            <label>DEPARTMENT</label>
            <p>{{job.DEPARTMENT_NAME}}</p>
        </div>

    </div>
    <div ngClass="status-container">
        <div>
            <label>PRODUCT LINE</label>
            <p>{{job.PRODUCT_LINE_NAME}}</p>
        </div>
        <div>
            <label>COUNTRY</label>
            <p>{{job.COUNTRY_DISPLAY_NAME}}</p>
        </div>
        <div>
            <label>CREATED DATE</label>
            <p>{{job.CREATED_DATE|date:'shortDate'}}</p>
        </div>
        <div>
            <label>JOB STATUS</label>
            <p [ngClass]="{
                'approved':job.JOB_STATUS==='APPROVED',
                'draft':job.JOB_STATUS==='DRAFT',
                'inReview':job.JOB_STATUS==='INREVIEW',
            }" class="status">{{job.JOB_STATUS}}</p>
        </div>
    </div>
    <div ngClass="actions">
        <button class="reload-button">
            <img class="reload-image" src="assets/images/preview.png" />
        </button>
        <button class="reload-button">
            <img class="reload-image" src="assets/images/edit.png" />
        </button>
    </div>
</div>