@import "./scss/theme";
@import "./scss/variables";
@font-face {
  font-family: $font-family;
  src: url("./assets/fonts/Teko/Teko-SemiBold.ttf");
}

html,
body {
  height: 100%;
  background-color: black;
}
body {
  margin: 0;
  font-family: $font-family;
}

.mat-header-cell {
  background: var(--background-color, #303030);
}

mat-sidenav-content,
mat-sidenav,
mat-paginator,
mat-mdc-paginator-outer-container {
  background-color: black;
}

.mat-cell {
  font-family: teko;
}
.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

::placeholder {
  color: #303030;
  font-family: $font-family;
  font-weight: 800;
  margin-left: 15px;
  letter-spacing: 5px;
}

::ng-deep {
  .mat-mdc-paginator-page-size-label {
    color: white !important;
  }
}
