@import "./scss/theme";
@import "./scss/variables";
@font-face {
  font-family: "teko";
  src: url("./assets/fonts/Teko/Teko-Light.ttf");
}

html,
body {
  height: 100%;
  background-color: black;
}
body {
  margin: 0;
  font-family: teko;
}

.mat-header-cell {
  background: var(--background-color, #303030);
}

mat-sidenav-content,
mat-sidenav,
mat-paginator,
mat-mdc-paginator-outer-container {
  background-color: black;
}

.mat-cell {
  font-family: teko;
}
.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
