@use "@angular/material" as mat;
@import "./variables";

@include mat.core();

$content-upload-primary: mat.define-palette($md-primary-pallette, A800);
$content-upload-accent: mat.define-palette($md-primary-pallette, A200);
$content-upload-warn: mat.define-palette($md-primary-pallette, 700);

$content-upload-theme: mat.define-light-theme(
  (
    color: (
      primary: $content-upload-primary,
      accent: $content-upload-accent,
      warn: $content-upload-warn,
    ),
  )
);

@include mat.all-component-themes($content-upload-theme);
